body{
    background-color: #202020;
    font-family: "Lato", sans-serif;
    /*#ffffff*/
    /*#ffde59*/
}

::selection{
    color:#dadada;
    background:#202020 ;
}

.RC:link{
    font-size:large;
    position: absolute;
    left:30px;
    top:30px;
    color: #ffffff;
    background-color: transparent;
    text-decoration:none;
    transition-duration: 0.4s;
}

.RC:visited{
    color: #dadada;
    background-color:transparent;
    text-decoration:none;
}

.RC:hover{
    color:#ffde59;
    background-color: transparent;
    text-decoration: none;
}

